/*---- Web Fonts ----*/

@font-face{
font-family: Main Font;
src:https://fonts.google.com/specimen/Indie+Flower#pairings ;

}

/* ===============
Media Queries
================*/

@media (min-width: 320px) {
  .container {
    width: 70%;
    max-width: 1024px;
    margin: 0 auto;
  }
}

/*----layout containers---*/
.container {
  padding-left: 1em;
  padding-right: 1em;
}