*{ 
  box-sizing: border-box;
  text-align: center;
}
img{max-width: 100%;}
/*---- Web Fonts ----*/
body{
  margin: 0%;
}
@font-face{
font-family: 'Indie Flower', cursive;
src:url(https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap);
}
a{
  text-decoration: none; color: black;
}
.paddingpics{
  padding: 4px 4px;
}
header{
  background-color:rgb(247, 247, 247);
  padding: 0px  8px ;
}
footer{
  background-color:rgb(247, 247, 247);
  padding: 8px 8px;
  padding-bottom: 8px;
  margin-bottom: 0%;}
  
.colour {
    background-color:rgb(247, 247, 247);
   
   }
p{
  font-family: 'Indie Flower';
  text-align:center;
  
  }

h2 {
  text-align: center;
}

.name {
  display: block;
  text-align: center;
  padding-top: 12px;
  margin-top: 0%;
}
.top-nav {
  margin: 0;
  padding: 0;
  display: block;
  list-style-type: none;
  text-align: center;
}
.top-nav li {
  padding: 8px 0px;
  margin: 2px 0px;
  background-color: rgb(255, 255, 255);
}

img,
.profile-image {
  display: block;
  margin: 20px auto;
  max-width: 100%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.line{
  border-bottom: 2px solid lightgrey;
}

.fr{
float: right;
background-color:rgb(247, 247, 247);
}
.fl{
  float: left; padding: 0%;
  background-color:rgb(247, 247, 247);
}

.bottom-nav{
display: none;
}
/* ===============
Media Queries
================*/

@media (min-width: 768px) {
  .container{
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
  }
  header p{
    font-size: 125%;
  }
  .about-me{
    padding-top: 15px;
    text-align: left;
  }
  .profile-image{
    float: right;
    padding-left: 15px;
  }
  .top-nav li{
    display: inline-block;
    margin-left: 15px;
    background-color: rgb(247, 247, 247);  
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
  }
  .paddingpics{
    float: left;
    width: 50%;
  }
  .nav-pad{
    padding: 15px;
  }
  .fr{
  display: none;
  }
  footer .bottom-nav{
  float: right; 
  margin: 10px;
  display: block;  
  list-style: none;
  }
  footer .bottom-nav li{
  display: inline;
  }
}

@media(min-width:1024px) {
  .container{
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
  }
  .top-nav li{
    display: inline-block;
    margin-left: 15px;
    background-color: rgb(247, 247, 247);
  }
  .paddingpics{
    float: left;
    width: 33%;
  }
.fr{
  display: none;
}
  footer .bottom-nav{
  display: inline;
  float: right;
  margin: 10px; 
  padding: 0%;
  list-style: none;
}
.name{
  float: left;
  display: inline;
}
.top-nav{
  display: inline;
  float: right;
  margin-top: 20px;
}
  footer .bottom-nav li{
  display: inline;;
}
}