
img{max-width: 100%;}
/*---- Web Fonts ----*/

@font-face{
font-family: 'Indie Flower', cursive;
src:url(https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap);
}
b{
  font-family: 'Indie Flower';
  text-align:center;
}
h2{
  text-align: center;
  
}
.name {
  display: block;
  width: 100%;
  text-align: center;
}.top-nav {
  margin: 0;
  padding: 0;
  display: block;
  list-style-type: none;
  text-align: center;
}.top-nav li {
  padding: 8px 0px;
  margin: 2px 0px;
  background-color: rgb(255, 255, 255);
}img,
.profile-image {
  display: block;
  margin: 20px auto;
  max-width: 100%;
}.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/* ===============
Media Queries
================*/
